

<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3>
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <form class="form-inline">
                <!--<div class="form-group col-sm-2">
        <a class="btn btn-info btn-xs" data-ui-sref="mpr-incomeaccountslisting-edit({Id:0})"> Create New</a>
    </div>-->

                <div class="form-group col-sm-1">
                    <input type="text" class="form-control input-sm" data-ng-model="vm.accountno" placeholder="Account Number" style="background-color: lightblue" />
                </div>
                <div class="form-group col-sm-1">&nbsp</div>

                <button type="button" class="btn btn-default btn-sm" ng-click="vm.ialLoad()">Load</button>
                <button type="button" class="btn btn-info btn-xs" ng-click="vm.refreshIAL()">Refresh</button>
            </form>
            <br />

            <table id="incomeAccountsTreeMisCodesTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>
                        <th>Account Number</th>
                        <th>Account Officer Code</th>
                        <th>Account Officer Name</th>
                        <th>Share Ratio</th>
                        <th>Ratio</th>
                        <th>Team Code</th>
                        <th style="width: 3%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="incomeAccountsTreeMisCodes in vm.incomeAccountsTreeMisCodess">
                        <td>
                            {{ incomeAccountsTreeMisCodes.AccountNumber}}
                        </td>

                        <td>
                            {{ incomeAccountsTreeMisCodes.AccountOfficer_Code}}
                        </td>

                        <td>
                            {{ incomeAccountsTreeMisCodes.AccountOfficerName}}
                        </td>

                        <td>
                            {{ incomeAccountsTreeMisCodes.ShareRatio}}
                        </td>

                        <td>
                            {{ incomeAccountsTreeMisCodes.Ratio}}
                        </td>

                        <td>
                            {{ incomeAccountsTreeMisCodes.Team_Code}}
                        </td>

                        <td>
                            <a class="btn btn-orange btn-xs" data-ui-sref="mpr-incomeaccountstreemiscodes-edit({ID: incomeAccountsTreeMisCodes.ID})">
                                Edit
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
