

<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3>
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <form class="form-inline">
                <div class="form-group col-sm-2">
                    <a class="btn btn-info btn-xs" data-ui-sref="mpr-incomecustomerpoolrate-edit({Id:0})"> Create New</a>
                </div>

                <div class="form-group col-sm-1">&nbsp</div>

                <div class="form-group col-sm-2">
                    <input type="text" class="form-control input-sm" data-ng-model="vm.searchvalue" placeholder="Search" style="background-color: lightblue" />
                </div>

                <button type="button" class="btn btn-default btn-sm" data-ng-click="vm.icflLoad()">Load</button>
                <button type="button" class="btn btn-info btn-xs" ng-click="vm.refreshICFL()">Refresh</button>

            </form>
            <br />

            <table id="incomeCustomerPoolRateTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>
                        <th>Customer Number</th>
                        <th>Account Class</th>
                        <th>Account Class Name</th>
                        <th>Pool Rate</th>
                        <th>Year</th>
                        <th style="width: 3%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="i in vm.incomeCustomerPoolRates">
                        <td>
                            {{ i.CustomerNo}}
                        </td>
                        <td>
                            {{ i.AccountClass}}
                        </td>
                        <td>
                            {{ i.AccountClassName}}
                        </td>
                        <td>
                            {{ i.PoolRate}}
                        </td>
                        <td>
                            {{ i.Year}}
                        </td>


                        <td>
                            <a class="btn btn-orange btn-xs" data-ui-sref="mpr-incomecustomerpoolrate-edit({Id: i.Id})">
                                Edit
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
