

<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3>
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div>
                <a class="btn btn-info btn-xs" data-ui-sref="mpr-onebankteamtable-edit({ID:0})"> Create New</a>
            </div>
            <br />

            <table id="oneBankTeamTableTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>
                        <th>Staff Name</th>
                        <th>Team Code</th>
                        <th>Grade Level</th>
                        <th>CASA Target</th>
                        <th>Period</th>
                        <th>Year</th>
                        <th style="width: 3%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="i in vm.oneBankTeamTables">
                        <td>
                            {{ i.StaffName }}
                        </td>

                        <td>
                            {{ i.Team_Code }}
                        </td>

                        <td>
                            {{ i.GradeLevel }}
                        </td>

                        <td>
                            {{ i.CASATarget }}
                        </td>

                        <td>
                            {{ i.Period }}
                        </td>

                        <td>
                            {{ i.Year }}
                        </td>

                        <td>
                            <a class="btn btn-orange btn-xs" data-ui-sref="mpr-onebankteamtable-edit({ID: i.ID})">
                                Edit
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
