<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3>
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div class="row">
                <div class="col-md-12">
               
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#general" role="tab" data-toggle="tab"><i class="fa fa-home"></i>MPR ScoreCard KPI Type</a></li>
                    </ul>

                    <div id="general" class="tab-content">
                        <div id="tab-edit" class="tab-pane fade in active">
                            <div class="row">
                                <!--<div class="col-md-7">-->
                                <div class="col-md-7">
                                    <div class="tab-content">
                                        <form action="#" class="form-horizontal">
                                            <div class="form-body">

                                                <div data-ng-include="'app/common/views/validation-view.html'"></div>



                                                <!--<div class="form-group col-sm-1">&nbsp</div>-->

                                                <div class="form-group">
                                                    <label class="control-label col-sm-3">KPI TYPE</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.kpi.KPI_TYPE" style="background-color: lightblue" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label col-sm-3">Perspective</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.kpi.PERSPECTIVE" style="background-color: lightblue" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label col-sm-3">KPI METRIC</label>
                                                    <div class="col-sm-9 controls">
                                                        <select class="form-control" ng-model="vm.kpi.KPI_METRIC" ng-options="b.Metric as b.Metric for b in vm.scm" style="background-color: lightblue"></select>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label col-sm-3">KPI WEIGHT</label>
                                                    <div class="col-sm-9 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.kpi.KPI_WEIGHT" style="background-color: lightblue" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label col-sm-3">Period</label>
                                                    <div class="col-sm-2 controls">
                                                        <input type="number" class="form-control input-sm" data-ng-model="vm.kpi.Period" style="background-color: lightblue" maxlength="2" minlength="2" min="1" max="12"/>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label col-sm-3">Year</label>
                                                    <div class="col-sm-2 controls">
                                                        <input type="number" class="form-control input-sm" data-ng-model="vm.kpi.Year" style="background-color: lightblue" maxlength="4" minlength="4" min="2012" />
                                                    </div>
                                                </div>




                                                <div class="form-group mbn">
                                                    <label class="col-sm-3 control-label"></label>
                                                    <div class="col-sm-9 controls">
                                                        <button type="button" class="btn btn-success btn-xs" ng-click="vm.save()">
                                                            <i class="fa fa-save"></i>&nbsp;
                                                            Save
                                                        </button>
                                                        <button type="button" class="btn btn-danger btn-xs" data-ng-click="vm.delete()">Delete</button>
                                                        <button type="button" class="btn btn-default btn-xs" data-ng-click="vm.cancel()">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>

