<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3>
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div class="row">
                <div class="col-md-12">
               
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#general" role="tab" data-toggle="tab"><i class="fa fa-home"></i>MPR Team </a></li>
                    </ul>

                    <div id="general" class="tab-content">
                        <div id="tab-edit" class="tab-pane fade in active">
                            <div class="row">
                                <!--<div class="col-md-7">-->
                                <div class="col-md-12">
                                    <div class="tab-content">
                                        <form action="#" class="form-horizontal">
                                            <div class="form-body">

                                                <div data-ng-include="'app/common/views/validation-view.html'"></div>


                                              
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group col-sm-2">
                                                            <label class="control-label">Accountofficer Code</label>
                                                            <input type="text" class="form-control input-sm" data-ng-model="vm.ts.AccountOfficer_Code" style="background-color: lightblue" />
                                                        </div>
                                                        <!--<div class="form-group col-sm-1">&nbsp</div>-->

                                                        <div class="form-group col-sm-3">
                                                            <label class="control-label">Accountofficer Name</label>
                                                            <input type="text" class="form-control input-sm" data-ng-model="vm.ts.AccountOfficer_Name" style="background-color: lightblue" />
                                                        </div>

                                                        <div class="form-group col-sm-2">
                                                            <label class="control-label">Branch Code</label>
                                                            <input type="text" class="form-control input-sm" data-ng-model="vm.ts.Team_Code" style="background-color: lightblue" />
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group col-sm-2">
                                                            <label class="control-label">Staff Id</label>
                                                            <input type="text" class="form-control input-sm" data-ng-model="vm.ts.StaffID" style="background-color: lightblue" />
                                                        </div>
                                                        <!--<div class="form-group col-sm-1">&nbsp</div>-->

                                                        <div class="form-group col-sm-2">
                                                            <label class="control-label">Year</label>
                                                            <!--<input type="text" class="form-control input-sm" data-ng-model="vm.ts.Year" style="background-color: lightblue" />-->
                                                            <select ng-model="vm.ts.Year" class="form-control input-sm" ng-options="t.value as t.name for t in vm.yearList" style="background-color: lightblue"></select>
                                                        </div>

                                                        <!--<div class="form-group col-sm-4">&nbsp</div>-->
                                                        <div class="form-group col-sm-1">&nbsp</div>

                                                        <div class="form-group col-sm-2" ng-show="vm.sh">
                                                            <label class="control-label"><span>&nbsp</span></label>
                                                            <button type="button" class="btn btn-primary btn-xs" data-ng-click="vm.fillTheControlBoxes(vm.ts.Team_Code, vm.ts.Year)">Click to Get the Team Data</button>
                                                        </div>
                                                    </div>
                                                </div>

                                                <hr />


                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group col-sm-2">
                                                            <label class="control-label">Division Code</label>
                                                            <input type="text" class="form-control input-sm" data-ng-model="vm.ts.Branch_Code" style="background-color: lightblue" />
                                                        </div>

                                                        <div class="form-group col-sm-3">
                                                            <label class="control-label">Division Name</label>
                                                            <input type="text" class="form-control input-sm" data-ng-model="vm.ts.BranchName" style="background-color: lightblue" />
                                                        </div>

                                                        <div class="form-group col-sm-2">
                                                            <label class="control-label">Branch Name</label>
                                                            <input type="text" class="form-control input-sm" data-ng-model="vm.ts.TeamName" style="background-color: lightblue" />
                                                        </div>
                                                    </div>
                                                </div>


                                                


                                                <div class="form-group mbn">
                                                    <label class="col-sm-3 control-label"></label>
                                                    <div class="col-sm-9 controls">
                                                        <button type="button" class="btn btn-success btn-xs" ng-click="vm.save()">
                                                            <i class="fa fa-save"></i>&nbsp;
                                                            Save
                                                        </button>
                                                        <button type="button" class="btn btn-danger btn-xs" data-ng-click="vm.delete()">Delete</button>
                                                        <button type="button" class="btn btn-default btn-xs" data-ng-click="vm.cancel()">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
</form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>

