
<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3>
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>


            <form class="form-inline">
                <div class="form-group col-sm-2">
                    <a class="btn btn-info btn-xs" data-ui-sref="mpr-incomeaccountMISoverrideTEMP-edit({Id:0})"> Create New</a>
                </div>
               
                <div class="form-group col-sm-1">
                    <input type="text" class="form-control input-sm" data-ng-model="vm.accountno" placeholder="Account Number" style="background-color: lightblue"  />
                </div>
                <div class="form-group col-sm-1">&nbsp</div>

                <button type="button" class="btn btn-default btn-sm" ng-click="vm.icsprbLoad()">Load</button>
                <button type="button" class="btn btn-info btn-xs" ng-click="vm.refreshICSPRB()">Refresh</button>

            </form>


            <table id="icsprbTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>

                        <th>Account Number</th>
                        <th>MIS</th>
                        <th>AccountOfficer Code</th>
                        <th>Approval Status</th>

                        <th style="width: 3%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="c in vm.icsprb">

                        <td>
                            {{ c.accountnumber}}
                        </td>
                        <td>
                            {{ c.mis}}
                        </td>                      
                        <td>
                            {{ c.AccountOfficer_Code}}
                        </td>
                        <td>
                            {{ c.ApprovalStatus}}
                        </td>

                        <td>
                            <a class="btn btn-orange btn-xs" data-ui-sref="mpr-incomeaccountMISoverrideTEMP-edit({Id: c.Id})">
                                Edit
                            </a>
                        </td>

                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
