<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3>
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div class="row">
                <div class="col-md-12">
               
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#general" role="tab" data-toggle="tab"><i class="fa fa-home"></i>MIS Transfer Price</a></li>
                    </ul>

                    <div id="general" class="tab-content">
                        <div id="tab-edit" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-8">
                                <!--<div class="col-md-12">-->
                                    <div class="tab-content">
                                        <form action="#" class="form-horizontal">
                                            <div class="form-body" style="padding-left: 20%;">

                                                <div data-ng-include="'app/common/views/validation-view.html'"></div>


                                                <!--<div class="form-group col-sm-4">&nbsp</div>-->

                                                <div class="control-label col-sm-12">
                                                    <label class="control-label col-sm-5"><strong>Target Code</strong></label>
                                                    <div class="col-sm-7 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.teamsegment.TargetCode" />
                                                    </div>
                                                </div>

                                                <div class="control-label col-sm-12">
                                                    <label class="control-label col-sm-5"><strong>Target Segment</strong></label>
                                                    <div class="col-sm-7 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.teamsegment.TargetSegment" />
                                                    </div>
                                                </div>

                                                <div class="control-label col-sm-12">
                                                    <label class="control-label col-sm-5"><strong>CustomerType Code</strong></label>
                                                    <div class="col-sm-7 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.teamsegment.CustomerTypeCode" />
                                                    </div>
                                                </div>

                                                <div class="control-label col-sm-12">
                                                    <label class="control-label col-sm-5"><strong>CustomerType</strong></label>
                                                    <div class="col-sm-7 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.teamsegment.CustomerType" />
                                                    </div>
                                                </div>

                                                <div class="control-label col-sm-12">
                                                    <label class="control-label col-sm-5"><strong>CustomerSegmentCode</strong></label>
                                                    <div class="col-sm-7 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.teamsegment.CustomerSegmentCode" />
                                                    </div>
                                                </div>

                                                <div class="control-label col-sm-12">
                                                    <label class="control-label col-sm-5"><strong>Customer Segment</strong></label>
                                                    <div class="col-sm-7 controls">
                                                        <input type="text" class="form-control input-sm" data-ng-model="vm.teamsegment.CustomerSegment" />
                                                    </div>
                                                </div>


                                                    <div class="form-group col-sm-12">&nbsp</div>

                                                    <div class="form-group mbn">
                                                        <label class="col-sm-3 control-label"></label>
                                                        <div class="col-sm-9 controls">
                                                            <button type="button" class="btn btn-success btn-xs" ng-click="vm.save()">
                                                                <i class="fa fa-save"></i>&nbsp;
                                                                Save
                                                            </button>
                                                            <button type="button" class="btn btn-danger btn-xs" data-ng-click="vm.delete()">Delete</button>
                                                            <button type="button" class="btn btn-default btn-xs" data-ng-click="vm.cancel()">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
</form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>

