<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <!--<section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />-->
    </sectionGroup>

    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="logConfiguration" type="Fintrak.Presentation.WebClient.Logging.LogConfigurationSection" />

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>

  <connectionStrings>
    <!--<add name="FintrakCoreDBConnection" connectionString="Data Source=.\sqlserverv14;Initial Catalog=FintrakCoreDB;User =sa;Password=sqluser10$;Integrated Security=False" providerName="System.Data.SqlClient" />

    <add name="FintrakLogDBConnection" connectionString="Data Source=.\sqlserverv14;Initial Catalog=FintrakLogDB;User =sa;Password=sqluser10$;Integrated Security=False" providerName="System.Data.SqlClient" />-->

    <!--<add name="FintrakCoreDBConnection" connectionString="Data Source=FINTRAK15\FINTRAKIFRSSERV;Initial Catalog=FintrakCoreDB;User =sa;Password=sqluser10$;Integrated Security=False" providerName="System.Data.SqlClient" />

    <add name="FintrakLogDBConnection" connectionString="Data Source=FINTRAK15\FINTRAKIFRSSERV;Initial Catalog=FintrakLogDB;User =sa;Password=sqluser10$;Integrated Security=False" providerName="System.Data.SqlClient" />-->

    <!--<add name="FintrakCoreDBConnection" connectionString="Data Source=pi360devserver\FINTRAKSQL2014;Initial Catalog=FintrakCoreDB;User =sa;Password=sqluser10$;Integrated Security=False" providerName="System.Data.SqlClient" />
    <add name="FintrakDBConnection" connectionString="Data Source=pi360devserver\FINTRAKSQL2014;Initial Catalog=FintrakDB;User =sa;Password=sqluser10$;Integrated Security=False" providerName="System.Data.SqlClient" />-->

 
    <add name="FintrakCoreDBConnection" connectionString="Data Source=DESKTOP-CITLU6S\MSSQLSERVER2014;Initial Catalog=FintrakCoreDB;User =sa;Password=password@1;Integrated Security=False" providerName="System.Data.SqlClient" />
    <add name="FintrakLogDBConnection" connectionString="Data Source=DESKTOP-CITLU6S\MSSQLSERVER2014;Initial Catalog=FintrakLogDB;User =sa;Password=password@1;Integrated Security=False" providerName="System.Data.SqlClient" />
    <add name="FintrakDBConnection" connectionString="Data Source=DESKTOP-CITLU6S\MSSQLSERVER2014;Initial Catalog=FintrakDB;User =sa;Password=password@1;Integrated Security=False" providerName="System.Data.SqlClient" />
    <add name="FintrakDBDailyConnection" connectionString="Data Source=DESKTOP-CITLU6S\MSSQLSERVER2014;Initial Catalog=FintrakDaily;User =sa;Password=password@1;Integrated Security=False" providerName="System.Data.SqlClient" />


    <add name="ADConnectionString" connectionString="LDAP://fintrak.com/DC=fintrak,DC=com" />
    
    
    <!--<add name="FintrakCoreDBConnection" connectionString="Data Source=10.0.0.157,1490;Initial Catalog=FintrakCoreDB;User =fintraksql;Password=Fnk90210@;Integrated Security=False" providerName="System.Data.SqlClient" />
    <add name="FintrakLogDBConnection" connectionString="Data Source=10.0.0.157,1490;Initial Catalog=FintrakLogDB;User =fintraksql;Password=Fnk90210@;Integrated Security=False" providerName="System.Data.SqlClient" />-->



    <!--<add name="FintrakCoreDBConnection" connectionString="Data Source=10.0.20.163\fintraksql;Initial Catalog=FintrakCoreDB;User =sa;Password=sqluser10$;Integrated Security=False" providerName="System.Data.SqlClient" /> 
    <add name="FintrakLogDBConnection" connectionString="Data Source=10.0.20.163\fintraksql;Initial Catalog=FintrakLogDB;User =sa;Password=sqluser10$;Integrated Security=False" providerName="System.Data.SqlClient" />  
    
  <add name="ADConnectionString" connectionString="LDAP://sterlingbank.com/DC=sterlingbank,DC=com" />-->
    
   
  </connectionStrings>

  <!--<logConfiguration>
    <logProviders>
      <clear />
      <add name="Elmah" type="MvcLoggingDemo.Models.Repository.ElmahRepository" />
      
    </logProviders>
  </logConfiguration>-->


  <!--<appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>-->


  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="SecurityMode" value="UP" />
    <add key="expectedreferal" value="null" />
    <!--<!Kindly change http://localhost:6861/  to your site url->-->
    <!--<add key="defaultReferrer" value="http://localhost:6861/" />-->
    <add key="ProcessId" value="11" />
    <add key="Status" value="YOU ARE CURRENTLY RUNNING MONTHLY PROCESS" />
    <add key="CompanyCode" value="STB" />

    <add key="MachineUniqueIdentityKey" value="BFEBFBFF000306F2:CZJ62811WP:188CB9AF"/>
    <!--<add key="Licensee" value="STB"/>  --><!--client name -->
    <add key="Licensee" value="LBIC"/>  <!--client name -->

  </appSettings>

  <system.web>

    <authentication mode="Forms">
      <forms name=".ADAuthCookie" loginUrl="~/Account/Login" timeout="2880" slidingExpiration="false" protection="All" />
    </authentication>

    <membership defaultProvider="CustomSimpleMembershipProvider">
      <providers>
        <clear />
        <add name="simple" type="WebMatrix.WebData.SimpleMembershipProvider, WebMatrix.WebData" />
        <add name="CustomSimpleMembershipProvider" type="Fintrak.Presentation.WebClient.Core.CustomSimpleMembershipProvider, Fintrak.Presentation.WebClient" />
      </providers>
    </membership>

    <!--<membership defaultProvider="simple">
      <providers>
        <add name="simple" type="WebMatrix.WebData.SimpleMembershipProvider, WebMatrix.WebData" />
      </providers>
    </membership>-->

    <!--<roleManager enabled="true" defaultProvider="simple">
      <providers>
        <add name="simple" type="WebMatrix.WebData.SimpleRoleProvider, WebMatrix.WebData" />
      </providers>
    </roleManager>-->

    <!--<membership defaultProvider="MyADMembershipProvider" >
          <providers>
              <clear />
              <add name="MyADMembershipProvider" 
                    type="System.Web.Security.ActiveDirectoryMembershipProvider, 
          System.Web, Version=4.0.0.0, Culture=neutral, 
          PublicKeyToken=b03f5f7f11d50a3a"
          connectionStringName="ADConnectionString" attributeMapUsername="sAMAccountName" />
          </providers>
      </membership>-->


    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>

    <trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />

    <healthMonitoring enabled="true">
      <eventMappings>
        <clear />
        <!-- Log ALL error events -->
        <add name="All Errors" type="System.Web.Management.WebBaseErrorEvent" startEventCode="0" endEventCode="2147483647" />
        <!-- Log application startup/shutdown events -->
        <add name="Application Events" type="System.Web.Management.WebApplicationLifetimeEvent" startEventCode="0" endEventCode="2147483647" />
      </eventMappings>
      <providers>
        <clear />
        <!-- Provide any customized SqlWebEventProvider information here (such as a different connection string name value -->
        <add connectionStringName="FintrakLogDBConnection" maxEventDetailsLength="1073741823" buffer="false" name="SqlWebEventProvider" type="System.Web.Management.SqlWebEventProvider" />
      </providers>
      <rules>
        <clear />
        <add name="All Errors Default" eventName="All Errors" provider="SqlWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00" />
        <add name="Application Events Default" eventName="Application Events" provider="SqlWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00" />
      </rules>
    </healthMonitoring>

    <customErrors mode="RemoteOnly" defaultRedirect="~/ErrorPages/Oops.aspx" />


  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="FormsAuthenticationModule" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <system.serviceModel>
    <client>
      <!--Core Modules-->
      <endpoint address="http://localhost:57859/SystemCoreService.svc" binding="basicHttpBinding" contract="Fintrak.Client.SystemCore.Contracts.ICoreService" />
      <endpoint address="http://localhost:57859/CoreService.svc" binding="basicHttpBinding" contract="Fintrak.Client.Core.Contracts.ICoreService" />
      <endpoint address="http://localhost:57859/ExtractionProcessService.svc" binding="basicHttpBinding" contract="Fintrak.Client.Core.Contracts.IExtractionProcessService" />


      <!--IFRS Modules-->
      <endpoint address="http://localhost:57859/IFRSCoreService.svc" binding="basicHttpBinding" contract="Fintrak.Client.IFRS.Contracts.IIFRSCoreService" />
      <endpoint address="http://localhost:57859/FinstatService.svc" binding="basicHttpBinding" contract="Fintrak.Client.IFRS.Contracts.IFinstatService" />
      <endpoint address="http://localhost:57859/IFRSLoanService.svc" binding="basicHttpBinding" contract="Fintrak.Client.IFRS.Contracts.IIFRSLoanService" />
      <endpoint address="http://localhost:57859/IExtractedDataService.svc" binding="basicHttpBinding" contract="Fintrak.Client.IFRS.Contracts.IExtractedDataService" />
      <endpoint address="http://localhost:57859/IFRS9Service.svc" binding="basicHttpBinding" contract="Fintrak.Client.IFRS.Contracts.IIFRS9Service" />
      <!--FI Modules-->
      <endpoint address="http://localhost:57859/FinancialInstrumentService.svc" binding="basicHttpBinding" contract="Fintrak.Client.IFRS.Contracts.IFinancialInstrumentService" />

      <!--FIvIEW Modules-->
      <endpoint address="http://localhost:57859/IFRSDataViewService.svc" binding="basicHttpBinding" contract="Fintrak.Client.IFRS.Contracts.IIFRSDataViewService" />

      <!--MRP Modules-->
      <endpoint address="http://localhost:57859/MPRCoreService.svc" binding="basicHttpBinding" contract="Fintrak.Client.MPR.Contracts.IMPRCoreService" />
      <endpoint address="http://localhost:57859/MPRBSService.svc" binding="basicHttpBinding" contract="Fintrak.Client.MPR.Contracts.IMPRBSService" />
      <endpoint address="http://localhost:57859/MPRPLService.svc" binding="basicHttpBinding" contract="Fintrak.Client.MPR.Contracts.IMPRPLService" />
      <endpoint address="http://localhost:57859/MPROPEXService.svc" binding="basicHttpBinding" contract="Fintrak.Client.MPR.Contracts.IMPROPEXService" />
      <endpoint address="http://localhost:57859/MPRIncomeService.svc" binding="basicHttpBinding" contract="Fintrak.Client.MPR.Contracts.IMPRIncomeService" />

      
      <!--Budget Modules-->
      <endpoint address="http://localhost:57859/BudgetCoreService.svc" binding="basicHttpBinding" contract="Fintrak.Client.Budget.Contracts.ICoreService" />
      <endpoint address="http://localhost:57859/BudgetTeamService.svc" binding="basicHttpBinding" contract="Fintrak.Client.Budget.Contracts.ITeamService" />

      <!--CDQM Modules-->
      <endpoint address="http://localhost:57859/CDQMService.svc" binding="basicHttpBinding" contract="Fintrak.Client.CDQM.Contracts.ICDQMService" />

      <!--Scorecard Modules-->
      <endpoint address="http://localhost:57859/ScorecardService.svc" binding="basicHttpBinding" contract="Fintrak.Client.Scorecard.Contracts.IScorecardService" />
    </client>

    <bindings>
      <netTcpBinding>
        <binding maxReceivedMessageSize="2000000000" transactionFlow="true">
          <reliableSession enabled="true" />
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding openTimeout="00:30:00" closeTimeout="00:30:00" sendTimeout="00:30:00" receiveTimeout="00:30:00" maxReceivedMessageSize="2000000000">
        </binding>
      </basicHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="1" />
  </system.serviceModel>

  <logConfiguration>
    <logProviders>
      <clear />
      <add name="Elmah" type="Fintrak.Presentation.WebClient.Models.Repository.ElmahRepository" />
      <add name="Log4Net" type="Fintrak.Presentation.WebClient.Models.Repository.Log4NetRepository" />
      <add name="Health Monitoring" type="Fintrak.Presentation.WebClient.Models.Repository.HealthMonitoringRepository" />
    </logProviders>
  </logConfiguration>

  <elmah>
    <security allowRemoteAccess="false" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="FintrakLogDBConnection" />

    <!-- 
    <errorMail from="youremail@example.com" to="youremail@example.com" cc="" subject="Elmah Error" async="true" smtpPort="25" smtpServer="[EmailServerName]" userName="" password="" />
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data" />
    -->

  </elmah>

  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
</configuration>