

<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3>
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div class="form-group col-sm-7">
                <div class="form-group col-sm-5">
                    Year <select ng-model="vm.year" class="form-control input-sm" ng-options="t.value as t.name for t in vm.yearList" style="background-color: lightblue"></select>
                </div>
                <div class="form-group col-sm-5">
                    Period <select ng-model="vm.period" class="form-control input-sm" ng-options="t.value as t.name for t in vm.periodList" style="background-color: lightblue"></select>
                </div>
               
                <div class="form-group col-sm-2">
                    <button type="button" class="btn btn-default" data-ng-click="vm.summaryLoad()">Load</button>
                </div>
            </div>

            <br />


            <table id="summaryTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">
                
                <thead>
                    <tr>
                        <th>ProductCode</th>
                        <th>Caption</th>
                        <th>ActualBalance</th>
                        <th>AverageBalance</th>
                        <th>Rev_Exp</th>
                        <th>Category</th>
                        <th>CurrencyType</th>
                        <th>Period</th>
                        <th>Year</th>

                        <th style="width: 3%;">Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="n in vm.summaryList">
                        <td>
                            {{n.ProductCode}}
                        </td>
                        <td>
                            {{n.Caption}}
                        </td>
                        <td>
                            {{n.ActualBalance}}
                        </td>
                        <td>
                            {{n.AverageBalance}}
                        </td>
                        <td>
                            {{n.Rev_Exp}}
                        </td>
                        <td>
                            {{n.Category}}
                        </td>
                        <td>
                            {{n.CurrencyType}}
                        </td>
                        <td>
                            {{n.Period}}
                        </td>
                        <td>
                            {{n.Year}}
                        </td>

                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
