

<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3> 
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div>
                <a class="btn btn-info btn-xs" data-ui-sref="ifrsloan-collateralrealizationperiod-edit({collateralrealizationperiodId:0})"> Create New</a>
            </div> 
            <br />
            
            <table id="collateralRealizationPeriodTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Duration In Month(s)</th>
                        <th>Average Recovery Rate(%)</th>
                        <th>Hair Cut(%)</th>
                        <th style="width: 3%;">Action</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="collateralRealizationPeriod in vm.collateralRealizationPeriods">
                        <td>
                            {{ collateralRealizationPeriod.TypeName}}
                        </td>
                        <td>
                            {{ collateralRealizationPeriod.Duration}}
                        </td>   
                        <td>
                            {{ collateralRealizationPeriod.AvgRecoveryCost}}
                        </td>   
                        <td>
                            {{ collateralRealizationPeriod.HairCut}}
                        </td>                 
                        <td>
                            <a class="btn btn-orange btn-xs" data-ui-sref="ifrsloan-collateralrealizationperiod-edit({collateralrealizationperiodId: collateralRealizationPeriod.CollateralRealizationPeriodId})">
                                Edit
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
