

<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3> 
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>


            <div class="col-sm-9 controls">              
                <button type="button" class="btn btn-primary btn-xs" data-ng-click="vm.closeperiodFunc()">Close Period</button>
            </div>



        </div>
    </div>
</div>
