

<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3> 
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div>
                <a class="btn btn-info btn-xs" data-ui-sref="core-incomemonths-edit({ID:0})"> Create New</a>
            </div> 
            <br />
            
            <table id="imTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>
                        <th>Period</th>
                        <th>Month</th>
                        <th>NumberOfDaysInMonth</th>
                        <th>Year</th>
                        <th>Last Day</th>
                        <th style="width: 3%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="i in vm.im">
                        <td>
                            {{i.Period}}
                        </td>
                        <td>
                            {{i.Month}}
                        </td>
                        <td>
                            {{i.NumberOfDaysInMonth}}
                        </td>
                        <td>
                            {{i.Year}}
                        </td>
                        <td>
                            {{i.LastDay}}
                        </td>
                        <td>
                            <a class="btn btn-orange btn-xs" data-ui-sref="core-incomemonths-edit({ID:i.ID})">
                                Edit
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
