

<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3> 
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div>
                <a class="btn btn-info btn-xs" data-ui-sref="mpr-opexglbasis2-edit({ID:0})"> Create New</a>
            </div> 
            <br />
            
            <table id="opexglbasis2Table" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>
                        <th>CAPTION</th> 
                        <th>MIS CODE</th> 
                        <th>BASIS</th>
                        <th>NARRATIVE</th>  
                        
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="o in vm.opexglbasis2">
                        <td>
                            {{ o.CAPTION}}
                        </td>
                        <td>
                            {{ o.MIS_CODE}}
                        </td>
                        <td>
                            {{ o.BASIS}}
                        </td>
                        <td>
                            {{ o.NARRATIVE}}
                        </td>
                        <td>
                            <a class="btn btn-orange btn-xs" data-ui-sref="mpr-opexglbasis2-edit({ID: o.ID})">
                                Edit
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
