

<div class="main-content">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3> 
        </div>
        <div class="widget-content">
            <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
                <button class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-info-circle"></i> {{vm.instruction}}
            </div>

            <div>
                <a class="btn btn-info btn-xs" data-ui-sref="mpr-opextimeallocationmpr-edit({ID:0})"> Create New</a>
            </div> 
            <br />
            
            <table id="opextimeallocationmprTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable">

                <thead>
                    <tr>
                        <th>SOURCE</th>
                        <th>BASISCAPTION</th>
                        <th>TARGET</th>
                        <th>DESCRIPTION</th>
                        <th>RATIO</th>
                        <th>TEMPLATE</th>
                        <th>SN</th>
                        <th>TOTAL</th>
                        <th>type</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="o in vm.opexTimeAllocationMPR">
                        <td>
                            {{ o.SOURCE}}
                        </td>
                        <td>
                            {{ o.BASISCAPTION}}
                        </td>
                        <td>
                            {{ o.TARGET}}
                        </td>
                        <td>
                            {{ o.DESCRIPTION}}
                        </td>
                        <td>
                            {{ o.RATIO}}
                        </td>
                        <td>
                            {{ o.TEMPLATE}}
                        </td>
                        <td>
                            {{ o.SN}}
                        </td>
                        <td>
                            {{ o.TOTAL}}
                        </td>
                        <td>
                            {{ o.type}}
                        </td>
                        <td>
                            <a class="btn btn-orange btn-xs" data-ui-sref="mpr-opextimeallocationmpr-edit({ID: o.ID})">
                                Edit
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
